* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  margin: 45px;
  background-color: antiquewhite;
}

.app > * {
  padding: 10px;
  margin: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

form > *:nth-child(even) {
  margin-bottom: 10px;
}